#container {
    border: solid 1px #ccc; 
    position: absolute;
    top: 0px;
    left: 0px;
    width: 75%;
    height: 100%;
    box-sizing: border-box;
}

.brick {
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1px solid #222;
}